* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: inline-block;
    margin: 44px 0px 144px 76px;
    align-items: center;
}

a {
    color: #989D9C;
    margin-left: 23px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-transform: uppercase;
    cursor: pointer;
}

#button-header {
    background: #665AE1;
    color: white;
    margin-left: 23px;
    width: 130px;
    height: 41px;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    cursor: pointer;
}

img {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900;
    line-height: 121.9px;
}

h2 {
    color: #515151;
    font-size: 58px;
    font-weight: 500;
    line-height: 70.7px;
}

p {
    width: 515px;
    color: #848484;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.container {
    display: inline-block;
    margin-left: 86px;
}

#button-main {
    background: #ADFF00;
    border: none;
    border-radius: 50px;
    width: 239px;
    height: 64px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    line-height: 34.13px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1024px) {

    main {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        position: static;  
        flex-direction: column;
        margin-top: 149px;
    }

    .container {
        display: block;
    }

    img {
        margin: auto;
        display: block;
        position: static;
        width: 354px;
        height: 317px;
    }

    h1 {
        font-size: 50px;
        line-height: 60.95px;
    }

    h2 {
        font-size: 30px;
        line-height: 36.57px;
    }

    header {
        display: none;
    }

    p {
        display: none;
    }
}

@media (max-width: 1280px) {

    a {
        font-size: 24px;
    }

    main {
        display: flex;
    }

    .container {
        margin: auto;
        display: inline-block;
        position: static;
        text-align: center;
    }

    img {
        margin: auto;
        position: static;
        display: block;
    }

    p {
        font-size: 18px;
    }
}



